<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sınav</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('serve_css', filename='styles.css') }}">
    <style>
        body, html {
            height: 100%;
        }

        .vertical-center {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 5rem;
        }

        .title-margin {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container horizontal-center">
    {% include 'navbar.html' %}
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                    <div class="flash-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                {% if show_question %}
                <h1 class="title-margin">Sınav</h1>
                <hr>
                <form action="/quiz" method="POST" class="form-container">
                    <h5 class="question-margin">Soru: {{ question.text }}</h5>
                    <hr>
                    <ul>
                        {% for option in question.options %}
                        <li>
                            <label>
                                <input type="radio" name="answer_{{ question.id }}" value="{{ loop.index }}">
                                <span>{{ option }}</span>
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                    <button type="submit" class="btn btn-primary">Sonraki Soru</button>
                </form>
                {% else %}
                <h1 class="title-margin">Sınav Tamamlandı!</h1>
                <h3>Toplam Puan: {{ score }}</h3>
                <a href="/leaderboard" class="btn btn-primary">Liderlik Tablosuna Git</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
<footer class="footer fixed-bottom text-center">
    <div class="container">
        <p>Büşra Nisa Özkaya &copy; 2023</p>
    </div>
</footer>

</html>
