<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kayıt Ol</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('serve_css', filename='styles.css') }}">
</head>
<body>
<div class="container horizontal-center">
    {% include 'navbar.html' %}
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="content">
                {% if not show_data %}
                <h1 class="text-center title-margin">Kayıt Ol</h1>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <div class="form-container">
                    <form action="#" method="POST">
                        <div class="form-group">
                            <label for="username">Kullanıcı Adı:</label>
                            <input type="text" id="username" name="username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Şifre:</label>
                            <input type="password" id="password" name="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">Şifreyi Onayla:</label>
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="nickname">Takma Ad:</label>
                            <input type="text" id="nickname" name="nickname" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                    </form>
                </div>
                {% else %}
                <h1>Kayıt Başarılı!</h1>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
<footer class="footer fixed-bottom text-center">
    <div class="container">
        <p>Büşra Nisa Özkaya &copy; 2023</p>
    </div>
</footer>
